{
    "FF_LOW_ENERGY_TYPE": "deepsleep",
    "FF_TIMER_COMMAND_ENABLE": true,
    "PIN_RELAY": 5,
    "PIN_RELAY_PWM_FREQUENCY": 10000,
    "MAX_RECONNECTION_INTERVAL": 60000,
    "WIFI_SSID": "ssid",
    "WIFI_PASS": "password",
    "PUBLISH_SEND_INTERVAL": 5000,
    "PU_DOMAIN": "unit.example.com",
    "PU_HTTP_TYPE": "http",
    "PU_APP_PREFIX": "/pepeunit",
    "PU_API_ACTUAL_PREFIX": "/api/v1",
    "PU_MQTT_HOST": "emqx.example.com",
    "PU_MQTT_PORT": 1883,
    "PU_MQTT_PING_INTERVAL": 30,
    "PU_AUTH_TOKEN": "jwt_token",
    "PU_SECRET_KEY": "32_bit_secret_key",
    "PU_ENCRYPT_KEY": "32_bit_encrypt_key",
    "PU_STATE_SEND_INTERVAL": 300,
    "PU_MIN_LOG_LEVEL": "Debug",
    "PU_MAX_LOG_LENGTH": 64
}
